name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@release-19
    with:
      maven-single-run: false
      jdk-matrix: '[ "8", "21" ]'
      maven-test: './mvnw clean verify -e -B -V -P run-its'

