name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@d4290208c237d258c4a1ac52b9c653f10ad6f093
    with:
      maven-single-run: false
      maven-matrix: '[ "3.8.8", "3.9.8", "4.0.0-beta-3" ]'
      jdk-matrix: '[ "17", "21" ]'
      maven-test: './mvnw clean verify -e -B -V -P run-its'

