name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@release-22
    with:
      jdk-matrix: '[ "11", "21" ]'
      maven-test: './mvnw clean verify -e -B -V -P run-its -rf :it'

